/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ! Fonts ! */

/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/rubik-v14-latin-500.woff2') format('woff2'),
        url('../fonts/rubik-v14-latin-500.woff') format('woff');
}

/* rubik-700 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/rubik-v14-latin-700.woff2') format('woff2'),
        url('../fonts/rubik-v14-latin-700.woff') format('woff');
}



.header-contant {
    width: 1240px;
    border: 2px solid #F6F6F9;
    background: #F6F6F9;
    margin-left: 100px;
    margin-bottom: 20px;

}


.rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-left: 200px; */
}

.rectangle-container {
    max-width: 1400px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.rectangle-title {
    font-style: normal;
    font-weight: 700;
    margin-left: 120px;
    margin-top: 45px;
    color: #295091;
    margin-right: 25px;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    padding: 5px 8px;
}

.rectangle-title:hover {
    color: #6594e4;
}

.rectangle-title:active {
    color: #0f47a8;
}

/* .rectangle-list {
   
} */

.rectangle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.rectangle-text-list {
    margin-right: 20px;
    margin-top: 28px;
    color: gray;
    opacity: 0.7;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}

.rectangle-items {
    color: #285193;
    opacity: 1;
}

.img-rectangle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.lupa {
    margin-left: 150px;
}

.container-mir {
    max-width: 1400px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.list-mir {
    width: 1060px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    border: 2px solid #FFFFFF;
    margin-top: 70px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
    padding: 20px 0 20px 0;
    margin-left: 100px;

}

.mir-items {
    margin-right: 40px;
}

.uzbekistan {
    margin-left: 25px;
}

.mir-link {
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #515151;
}

.container-img {
    max-width: 1405px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.reklama-img {
    width: 1060px;
    height: 100;
    margin-top: 20px;
    margin-left: 102px;
    padding-bottom: 25px;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    margin-top: 50px;
    /* margin-right: 50px; */
}

.info-content {
    width: 1050px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 35px;
    background-color: #F6F6F9;
    border-radius: 5px;
    margin-left: 85px;
}

.info-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-left: 100px; */
}

.info-img {
    margin-right: 25px;
}

.info-title {
    margin-right: 70px;
    width: 220px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    border-left: 1px solid #EB5569;
}

.info-list-item {
    padding-left: 30px;
    margin: 10px 0;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-list-item:not(:first-child) {
    border-left: 1px solid #F4CCD1;
    /* width: 2px;
    height: 49px; */
}

.info-list-img {
    margin-right: 15px;
}

.info-list-content-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.red-text {
    color: #dc1e1e;
}

.green-text {
    color: #15ce3d;
}

.contant-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-info {
    max-width: 1240px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;

}

/* .contant-list {
    margin-top: 10px;
    margin: 0;
    margin-left: 0;
} */

.prezident-img {
    margin-left: 50px;
    margin-right: 0;
}

.contant-text {
    width: 320px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #202020;

}

.contant-num {
    width: 125px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}

.contant-img {
    margin-right: 50px;
}

.prezident-text {
    margin-left: 50px;
}

.year {
    margin-left: 50px;
}

.sardoba-text {
    width: 290px;
}

.icon-contant {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1050px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid rgba(239, 186, 84, 0.18);
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
    /* margin-left: 20px; */
    margin-top: 55px;
}

.icon-container {
    max-width: 1050px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.icon-img {
    padding: 28px 0 28px 35px;
}

.icon-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-left: 17px;
    padding-right: 225px;
}

.icon-link {
    border: 2px solid rgba(255, 139, 54, 0.9);
    background: -webkit-gradient(linear, left top, right top, from(#FE5C28), color-stop(88.43%, rgba(255, 139, 54, 0.9)));
    background: -o-linear-gradient(left, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    color: white;
}

.novosti-container {
    max-width: 1220px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.items-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 80px;
    margin-top: 38px;
}

.outline-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.father-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.container-father {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.message-img {
    margin-left: 60px;
    margin-top: 5px;
}

.father-wrapper-text {
    width: 435px;
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-left: 20px;

}

.father-wrapper-paragraph {
    width: 450px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-left: 20px;
}

.vector-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.vector-img {
    margin-left: 20px;
    margin-top: 15px;
}

.vector-num {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    margin-left: 5px;
    margin-top: 15px;
    opacity: 0.5;
}

.about-reference {
    width: 385px;
    height: 530px;
    margin-bottom: 20px;
    border: 3px solid #F6F6F9;
    background: #F6F6F9;
    border-radius: 5px;
}

.reference-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 0px 85px 0 20px;
}

.reference-text {
    width: 250px;
    padding: 0 20px;
}

.reference-date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    opacity: 0.5;
    padding-left: 20px;
}

.reference-solid {
    width: 345px;
    height: 3px;
    background: #E4E4E4;
}

.img-about {
    margin-left: 3px;

}

.container-link {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.message-link {
    text-decoration: none;
    margin-left: 360px;
    border: 3px solid #295093;
    background: #295093;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    margin-top: 25px;

}

.reklama-content {
    width: 1100px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 3px solid #F6F6F9;
}

.container-items {
    max-width: 1120px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.phone-img {
    padding-left: 60px;
}

.title-items {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
    padding-top: 65px;
}

.paragraph-items {
    width: 490px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 65px;
}

.about-namang {
    text-transform: uppercase;
}

.play-img {
    padding-left: 35px;
    padding-right: 20px;
}

.sayt-wrapper {
    width: 1440px;
    border: 3px solid #295093;
    background-color: #295093;
    margin-top: 40px;
    margin-right: 0;
}

.container-sayt {
    max-width: 1200px;
    /* padding: 0 20px; */
    margin-left: auto;
    margin-right: auto;
}

.about-sayt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25px;
}

.sayt-title {
    width: 175px;
    border: 2px solid #133C82;
    font-style: normal;
    padding: 10px 12px 5px 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #133C82;
    border-radius: 5px;
    margin-left: 55px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.sayt-title:hover {
    color: #f5f5f5;
    background: #1a4fac;
}

.sayt-paragraph {
    width: 660px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 100px;
}

.telegramm-img {
    padding-left: 0;
    padding-right: 0;
}

.sayt-solid {
    width: 950px;
    height: 2px;
    border-bottom: 1px solid #000;
    background: #133C82;
    opacity: 0.5;
}

.sayt-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items {
    padding-right: 300px;
    padding-top: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}

.items-paragraph {
    width: 310px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 130px;

}

.sayt-list {
    list-style-type: none;
}

.sayt-list-wrapper {
    padding-bottom: 10px;
}

.sayt-list-link {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 110px;
}

.sayt-list-items {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 60px;
}

.link-items {
    margin-top: 50px;
}

.assembly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.assembly-title {
    width: 794px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 50px;
    margin-bottom: 13px;
}

.date-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.date-img {
    margin-left: 50px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.vector-date {
    width: 512px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    margin-bottom: 15px;
    margin-top: 2px;
}

.assembly-img {
    margin-left: 50px;
}

.about-may {
    width: 700px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 50px;
}

.assembly-paragraph {
    width: 750px;
    margin-left: 50px;
}

.assembly-text {
    width: 426px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 50px;
}

/* .assembly-list {
    display: flex;
    align-items: center;
} */

.content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
}

.content-wrapper {
    margin-right: 10px;
}

.link-hokim {
    margin-left: 45px;
}

.list-link {
    text-decoration: none;
    color: #28508E;
}

.list-solid {
    color: #EBEBEB;
    width: 790px;
    margin-left: 0;
    margin-left: 68px;
}

.main-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 75px;
    margin-bottom: 40px;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-contant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 90px;
}

.form {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 90px;
}

.input {
    padding: 15px 0 15px 15px;
    margin-bottom: 20px;
    color: #888888;
}

.textarea {
    padding: 15px 0 15px 15px;
    margin-bottom: 20px;
    color: #888888;
}

.form-file {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 90px;
}

.wrapper-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-file {
    padding: 15px 0 15px 15px;
    margin-bottom: 10px;
    color: #888888;
    width: 180px;
}

.items-kod {
    margin-left: 18px;
    letter-spacing: 10px;
}

.file-img {
    position: absolute;
    left: 260px;
    top: 1105px;
    cursor: pointer;
}

.password-items {
    padding: 15px 60px;
    color: #FFFFFF;
    background: #295093;
    border: 2px solid rgba(40, 81, 147, 0.54);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}

.password-items:hover {
    background: #6596e9;
}

.wrapper-father {
    width: 510px;
    height: 280px;
    background: #FFFFFF;
    border: 2px solid #BCC3CD;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgba(251, 253, 255, 0.979);
    -webkit-box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
    box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
    border-radius: 5px;
    /* margin: 0; */
    margin-left: 60px;
    margin-top: 60px;
}

.title-namang {
    text-transform: uppercase;
    padding-left: 220px;
    color: #295091;
}

.wrapper-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper-contant-list {
    list-style-type: none;
    padding-left: 25px;
}

.list-items {
    padding-top: 0;
    padding-bottom: 30px;
    /* padding-right: 100px; */

}

.wrapper-list-link {
    text-decoration: none;
    color: #888888;
}

.items-link {
    padding-top: 10px;
}

.contant-items {
    padding-top: 18px;
    padding-right: 0;
}

.gmail-info {
    color: #888888;
    padding-left: 120px;
    /* padding-top: 40px; */
}

.img-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 60px;
}

.link-contant {
    margin-left: 10px;
    padding-bottom: 18px;
}

.tg-link {
    padding-left: 180px;
    padding-bottom: 10px;
}

.apps-img {
    padding-left: 60px;
}

.play-img {
    padding-right: 15px;
}